@import url('https://fonts.googleapis.com/css?family=Pangolin');
* {
    margin: 0;
    /*border: 1px solid black;*/
}


/*======== NAV ==========
=========================
========= LOGO ==========
=========================
=======================*/

h2>a {
    text-decoration: underline;
    color: blue;
}

#logo {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 5em;
    margin: 1.5em;
}

#logo * {
    height: 100%;
}

@keyframes logo_anim {
    from {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    to {
        -ms-transform: rotate(315deg);
        -webkit-transform: rotate(315deg);
        transform: rotate(315deg);
    }
}

#logo:hover {
    animation-name: logo_anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.black {
    background-color: black;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Pangolin', cursive;
}

header>p {
    margin-bottom: 2em;
}

header main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: black;
    justify-content: space-around;
    align-items: center;
}

header section {
    margin-left: 10%;
}

a {
    color: black;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background: #778899;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    background: white;
    margin: 0 auto;
}

body>main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    background: white;
    margin: 0 auto;
    padding-top: 3em;
}

input {
    border-radius: 10px;
    padding: 1px;
    background: lightgray;
    height: 1.5em;
}

textarea {
    border-radius: 10px;
    padding: 1px;
    background: lightgray;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: 4px solid #0c0078;
    width: 200px;
    margin: 4%;
    font-family: 'Myriad Pro', sans-serif;
}

article:hover {
    box-shadow: 5px 5px 5px #666666;
}

article h3 {
    height: 1.2em;
    margin: 10% 0;
}

article img {
    width: 100%;
}

.img_proj {
    width: 100%;
}

.img_github {
    width: 20%;
    align-self: flex-end;
    margin-top: -20%;
}

#contact {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 40%;
    height: 3em;
    background: #25D5B9;
    border: 3px solid black;
    border-radius: 30px;
    margin: calc(-1.5em - 3px) 0;
    align-self: center;
    z-index: 1;
}